<div class="general">
  <div class="principal_caja">

  <div class="caja_centrada">
    <div class="logo">
      <img src="../../assets/Quickicono.jpg" alt="">
      <h2>Iniciar sesión</h2>
    </div>
    <div class="formulario">
      <div class="contenido_formulario_login">

      <form>
        <div class="form-row">
      <div class="form-group col-sm-12 col-md-12">
        <button type="button" class="btn btn-light google"><i class="fab fa-google"></i> Goggle</button>
        <button type="button" class="btn btn-light facebook"><i class="fab fa-facebook-square"></i> Facebook</button>
      </div>
        <div class="form-group col-sm-12 col-md-12 desaparecer">
          <label for="exampleInputEmail1">Usuario</label>
          <input type="text" class="form-control" placeholder="Nombre de usuario">
        </div>
        <div class="form-group col-sm-12 col-md-12 desaparecer">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" placeholder="Contraseña">
        </div>
        <button type="submit" class="btn btn-success btn-block desaparecer">Iniciar sesion</button>
      </div>
      </form>
    </div>
    </div>
    <div class="Registrate">
      <div class="registrar_texto">
        <span>¿Nuevo en Quick?. <a href="#">Regístrate!</a> </span>
      </div>
    </div>
  </div>
</div>
</div>
