<div class="principal">
<div class="general">
  <div class="registrar">
    <div class="contenido">
      <div class="texto">
        <div class="contenido_texto">
          <h2>Quick developer</h2>
          <br>
          <p>Quick es una plataforma inspirada en lo tedioso que son los errores y lo difícil que es recordar como se resolvieron en un pasado distante</p>
        </div>
      </div>
      <div class="formulario">
        <div class="contenido_formulario">
          <form>
            <div class="form-row">
          <div class="form-group col-sm-12 col-md-12">
            <button type="button" class="btn btn-light google"><i class="fab fa-google"></i> Goggle</button>
            <button type="button" class="btn btn-light facebook"><i class="fab fa-facebook-square"></i> Facebook</button>
          </div>
          <div class="form-group col-sm-12 col-md-12 aparecer">
            <!-- <h2>Registrate</h2> -->
            <img src="../../assets/rocket.svg" >
            <!-- <img src="../../assets/google-plusNu.svg" > -->

          </div>
            <div class="form-group col-sm-6 col-md-12 desaparecer">
              <label for="exampleInputEmail1">Nombre</label>
              <input type="text" class="form-control" placeholder="Nombre completo">
            </div>
            <div class="form-group col-sm-6 col-md-12 desaparecer">
              <label for="exampleInputEmail1">Usuario</label>
              <input type="text" class="form-control" placeholder="Nombre de usuario">
            </div>
            <div class="form-group col-sm-6 col-md-12 desaparecer">
              <label for="exampleInputPassword1">Correo</label>
              <input type="email" class="form-control" placeholder="Correo electronico">
            </div>
            <div class="form-group col-sm-6 col-md-12 desaparecer">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password" class="form-control" placeholder="Contraseña">
            </div>
            <button type="submit" class="btn btn-primary btn-block desaparecer">Registrar</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
